<header class="header" id="header">
    <div class="theLogo">
        <a href="/" class="logo"><span>.</span>humanity</a>
    </div>
    <ul class="navigation">
        <li>
            <a href="/eventDonation" class="donatTool">Donation Event</a>
        </li>
        <li>
            <a href="/aboutUs" class="donatTool">About Us</a>
        </li>
        <li>
            <a href="/signIn" class="donatTool">Sign In</a>
        </li>
    </ul>

</header>